*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    line-height: 1.4;
    font-weight: 300;
}
.hero-section{
    background-image: url(software-developer-6521720_640.jpg);
    min-height: 100vh;
    background-position: center;
    background-size: cover;
}
.text-container{
    color: white;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 64px;
    padding-left: 16px;
}
.lg-text{
    font-size: 72px;
}
.black-box{
    background-color: #000;
    padding: 20px;
}
.black-box h2{
    color: white;
    font-size: 72px;
    text-align: center;
    font-weight: 300;
}
.black-box h2 span{
    font-weight: 400;
   font-size: 96px;
}

.work{
    display: grid;
    grid-template-columns: repeat(auto-fix,minmax(320px,1fr));
}
.card{
    max-width: 320px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 3px 5px 5px rgba(1, 1, 1, 0.2);
    
}